@model AsistenciaAdmin.Models.Clases

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aulas.NombreAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aulas.NombreAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargas.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargas.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadosClase.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadosClase.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materias.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materias.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraAsistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraAsistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMEI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMEI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraInicio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
