@model IEnumerable<AsistenciaAdmin.Models.Clases>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aulas.NombreAula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargas.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadosClase.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materias.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraAsistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMEI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aulas.NombreAula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargas.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadosClase.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materias.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraAsistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMEI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraInicio)
        </td>
        <td>
            
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ClaseId }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ClaseId })*@
        </td>
    </tr>
}

</table>


